<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatisTest.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hitwh.gmember.mapper.CompanyMapper">
    <resultMap id="companyMap" type="cn.edu.hitwh.gmember.pojo.Company">
        <id property="com_id" column="com_id"></id>
        <result property="com_name" column="com_name"></result>
        <result property="com_info" column="com_info"></result>
        <result property="comtype_id" column="comtype_id"></result>
        <result property="com_img" column="com_img"></result>
        <result property="com_time" column="com_time"></result>
    </resultMap>

    <insert id="addCompany" useGeneratedKeys="true" keyColumn="com_id" parameterType="cn.edu.hitwh.gmember.pojo.Company">
        INSERT INTO company(com_name, comtype_id, com_info, com_img, com_time)
                VALUES (#{com_name},#{comtype_id},#{com_info},#{com_img},#{com_time})
    </insert>

    <select id="findAllCompanies" resultMap="companyMap">
      SELECT * FROM company
    </select>

    <select id="adminFindAllCompanies" resultMap="companyMap">
        SELECT * FROM company ORDER BY com_id DESC LIMIT #{from},#{pageSize}
    </select>

    <select id="findCompanyById" parameterType="int" resultType="cn.edu.hitwh.gmember.pojo.Company">
        SELECT * FROM company WHERE com_id=#{com_id}
    </select>

    <select id="countAllCompanies" resultType="int">
        SELECT count(*) FROM company
    </select>

    <select id="countAllCompaniesByType" parameterType="int" resultType="int">
        SELECT count(*) FROM company WHERE comtype_id=#{comtype_id}
    </select>

    <select id="adminFindCompaniesByType" resultMap="companyMap">
        SELECT * FROM company WHERE comtype_id=#{comtype_id} ORDER BY com_id DESC LIMIT #{from},#{pageSize}
    </select>

    <delete id="deleteCompany" parameterType="int">
        DELETE FROM company WHERE com_id=#{com_id}
    </delete>

    <update id="updateCompany" parameterType="cn.edu.hitwh.gmember.pojo.Company">
        UPDATE company SET com_name=#{com_name},comtype_id=#{comtype_id},com_img=#{com_img},
            com_info=#{com_info},com_time=#{com_time}
        WHERE com_id=#{com_id}
    </update>

</mapper>