<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatisTest.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hitwh.gmember.mapper.ComtypeMapper">
    <resultMap id="comtypeMap" type="cn.edu.hitwh.gmember.pojo.Comtype">
        <id property="comtype_id" column="comtype_id"></id>
        <result property="comtype_name" column="comtype_name"></result>
    </resultMap>

    <select id="findAllComtypes" resultMap="comtypeMap">
        SELECT * FROM comtype
    </select>
</mapper>