<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hitwh.gmember.mapper.EmployeeMapper">
    <select id="findEmployee" resultType="cn.edu.hitwh.gmember.pojo.Employee">
        SELECT * FROM employee WHERE emp_id=#{id} AND emp_pwd=#{pwd}
    </select>
</mapper>