<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hitwh.gmember.mapper.NewsMapper">
    <resultMap id="newsMap" type="cn.edu.hitwh.gmember.pojo.News">
        <id property="news_id" column="news_id"></id>
        <result property="news_time" column="news_time"></result>
        <result property="publisher" column="publisher"></result>
        <result property="author_id" column="author_id"></result>
        <result property="news_title" column="news_title"></result>
        <result property="news_content" column="news_content"></result>
        <result property="news_section_id" column="news_section_id"></result>
        <result property="news_readtimes" column="news_readtimes"></result>
        <result property="news_source" column="news_source"></result>
    </resultMap>
    <insert id="addNews" parameterType="cn.edu.hitwh.gmember.pojo.News"
    useGeneratedKeys="true" keyProperty="news_id">
        INSERT INTO news(news_time, publisher, author_id, news_title, news_content, news_section_id, news_readtimes,news_source)
        VALUES (#{news_time},#{publisher},#{author_id},#{news_title},#{news_content},#{news_section_id},#{news_readtimes},#{news_source})
    </insert>

    <select id="countNewsBySection" parameterType="int" resultType="int">
        SELECT count(*) FROM news WHERE news_section_id=#{news_section_id}
    </select>

    <select id="countAllNews" resultType="int">
        SELECT count(*) FROM news;
    </select>

    <select id="findNewsBySection" resultMap="newsMap">
        SELECT * FROM news WHERE news_section_id=#{news_section_id} ORDER BY news_id DESC LIMIT #{from},#{pageSize};
    </select>

    <select id="findAllNews" resultMap="newsMap">
        SELECT * FROM news ORDER BY news_id DESC LIMIT #{from},#{pageSize};
    </select>

    <select id="findNewsById" parameterType="int" resultType="cn.edu.hitwh.gmember.pojo.News">
        SELECT * FROM news WHERE news_id=#{news_id}
    </select>

    <update id="updateReadtimes">
        UPDATE news SET news_readtimes=#{news_readtimes} WHERE news_id=#{news_id}
    </update>

    <update id="updateNews" parameterType="cn.edu.hitwh.gmember.pojo.News">
        UPDATE news SET news_id=#{news_id},news_time=#{news_time},publisher=#{publisher},author_id=#{author_id},news_content=#{news_content},news_title=#{news_title},news_section_id=#{news_section_id},news_source=#{news_source}
        WHERE news_id=#{news_id}
    </update>

    <delete id="deleteNews" parameterType="int">
        DELETE FROM news WHERE news_id=#{news_id}
    </delete>
</mapper>