<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatisTest.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hitwh.gmember.mapper.ResumeMapper">
    <resultMap id="resumeMap" type="cn.edu.hitwh.gmember.pojo.Resume">
        <id property="resume_id" column="resume_id"></id>
        <result property="stu_id" column="stu_id"></result>
        <result property="resume_path" column="resume_path"></result>
        <result property="resume_advice" column="resume_advice"></result>
        <result property="resume_advice_time" column="resume_advice_time"></result>
    </resultMap>
    
    <select id="findResumeByStuId" parameterType="int" resultMap="resumeMap">
        SELECT * from resume WHERE stu_id=#{stu_id}
    </select>

    <select id="findResumeById" parameterType="int" resultMap="resumeMap">
        SELECT * FROM resume WHERE resume_id=#{resume_id}
    </select>

    <insert id="addResume" useGeneratedKeys="true" keyColumn="resume_id" parameterType="cn.edu.hitwh.gmember.pojo.Resume">
        INSERT INTO resume(stu_id, resume_path, resume_advice, resume_advice_time)
                VALUES (#{stu_id},#{resume_path},#{resume_advice},#{resume_advice_time})
    </insert>

    <update id="updateResume" parameterType="cn.edu.hitwh.gmember.pojo.Resume">
        UPDATE resume SET stu_id=#{stu_id},resume_path=#{resume_path},
            resume_advice=#{resume_advice},resume_advice_time=#{resume_advice_time}
        WHERE resume_id=#{resume_id}
    </update>



</mapper>