<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatisTest.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hitwh.gmember.mapper.StulogMapper">
    <resultMap id="stuLogMap" type="cn.edu.hitwh.gmember.pojo.StuLog">
        <id property="stu_log_id" column="stu_log_id"></id>
        <result property="stu_log_title" column="stu_log_title"></result>
        <result property="stu_log_content" column="stu_log_content"></result>
        <result property="stu_log_time" column="stu_log_time"></result>
        <result property="stu_log_lastchange" column="stu_log_lastchange"></result>
        <result property="stu_id" column="stu_id"></result>
        <result property="stu_level_id" column="stu_level_id"></result>
        <result property="emp_feedback" column="emp_feedback"></result>
        <result property="tea_feedback" column="tea_feedback"></result>
        <result property="emp_status" column="emp_status"></result>
        <result property="tea_status" column="tea_status"></result>
        <result property="tea_time" column="tea_time"></result>
        <result property="emp_time" column="emp_time"></result>
    </resultMap>

    <!--创建的时候不包含logid、lastchange、tea、emp-->
    <insert id="addStuLog" useGeneratedKeys="true" keyProperty="stu_log_id" parameterType="cn.edu.hitwh.gmember.pojo.StuLog">
        INSERT INTO stulog(stu_log_title, stu_log_content, stu_log_time, stu_id, stu_level_id)
        VALUES (#{stu_log_title},#{stu_log_content},#{stu_log_time},#{stu_id},#{stu_level_id})
    </insert>

    <!--更新是除了id之外的信息,教师反馈和导师反馈也用这个来更新-->
    <update id="updateStuLog" parameterType="cn.edu.hitwh.gmember.pojo.StuLog">
        UPDATE stulog
        SET stu_log_title=#{stu_log_title},stu_log_content=#{stu_log_content},stu_log_time=#{stu_log_time},
            stu_id=#{stu_id},stu_level_id=#{stu_level_id},emp_feedback=#{emp_feedback},tea_feedback=#{tea_feedback},
            emp_status=#{emp_status},tea_status=#{tea_status},emp_time=#{emp_time},tea_time=#{tea_time},stu_log_lastchange=#{stu_log_lastchange}
        WHERE stu_log_id=#{stu_log_id}
    </update>

    <!--学生删除日志-->
    <delete id="deleteStuLog" parameterType="int">
        DELETE FROM stulog WHERE stu_log_id=#{stu_log_id}
    </delete>

    <!--找到谋生某阶段所有日志-->
    <select id="findLogsOfStudentLevel" resultMap="stuLogMap">
        SELECT * FROM stulog
        WHERE stu_id=#{stu_id} AND stu_level_id=#{stu_level_id}
        ORDER BY stu_log_id DESC LIMIT #{from},#{pageSize}
    </select>
    <!--计算某阶段某生日志总数-->
    <select id="countLogsOfStudentLevel" resultType="int">
        SELECT COUNT(*) FROM stulog WHERE stu_level_id=#{stu_level_id} AND stu_id=#{stu_id}
    </select>

    <!--找到某阶段某老师所有学生的所有日志-->
    <select id="findLogsOfTeacherLevel" resultMap="stuLogMap">
        SELECT * FROM stulog,student
        WHERE stulog.stu_id=student.stu_id AND student.tea_id=#{tea_id} AND stulog.stu_level_id=#{stu_level_id}
        ORDER BY stu_log_id DESC LIMIT #{from},#{pageSize}
    </select>
    <select id="countLogsOfTeacherLevel" resultType="int">
        SELECT COUNT(*) FROM stulog,student
        WHERE stulog.stu_id=student.stu_id AND student.tea_id=#{tea_id} AND stulog.stu_level_id=#{stu_level_id}
    </select>

    <!--找到某阶段某导师所有学生的所有日志-->
    <select id="findLogsOfEmployeeLevel" resultMap="stuLogMap">
        SELECT * FROM stulog,student
        WHERE stulog.stu_id=student.stu_id AND student.emp_id=#{emp_id} AND stulog.stu_level_id=#{stu_level_id}
        ORDER BY stu_log_id DESC LIMIT #{from},#{pageSize}
    </select>
    <select id="countLogsOfEmployeeLevel" resultType="int">
        SELECT COUNT(*) FROM stulog,student
        WHERE stulog.stu_id=student.stu_id AND student.emp_id=#{emp_id} AND stulog.stu_level_id=#{stu_level_id}
    </select>

    <!--查看某个日志的详情-->
    <select id="findLogById" resultType="cn.edu.hitwh.gmember.pojo.StuLog">
        SELECT * FROM stulog WHERE stu_log_id=#{stu_log_id}
    </select>
</mapper>